<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
<h1>This are the newest cubes!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 item">
            <img src="images/icy_cube.jpg" alt="Icy Cube" class="img-fluid">
            <p>8.95</p>
        </div>
        <div class="col-md-4 item">
            <img src="images/mirror_cube.jpg" alt="Mirror Cube" class="img-fluid">
            <p>15.00</p>
        </div>
        <div class="col-md-4 item">
            <img src="images/void_cube.jpg" alt="Void Cube" class="img-fluid">
            <p>22.95</p>
        </div>
    </div>
</div>

<div class="options-section">
    <h2>Options</h2>
    <a href="index.html">&larr; go back to main page</a>
</div>

</body>
</html>
