{% extends 'base.html' %}

{% block header %}
    <h1>These are the newest cubes!</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {%for cube in cubes%}
                <div class="col-md-4 item">
                    <img src="{{ url_for('static', filename='images/' ~ cube['img'] ~ '.jpg') }}" alt="{{cube['name']}}" class="img-fluid">
                    <table class="table-spacing">
                        <tr>
                            <td class="table-cells">name</td>
                            <td class="table-cells">{{cube.name}}</td>
                        </tr>
                            <td class="table-cells">Preis</td>
                            <td class="table-cells">{{cube.price}}</td>
                        </tr>
                    </table>
                </div>
            {%endfor%}
        </div>
    </div>

    <div class="options-section">
        <a href="index.html">&larr; go back to main page</a>
    </div>
{% endblock %}