:443 {

    root * /home/david/develop/cstimer_fork/dist

    # 🔥 WICHTIG: explizit PHP matchen
    php_fastcgi unix//run/php-fpm/php-fpm.sock {
        try_files {path} {path}/index.php {path}/index.html =404
    }

    file_server

    tls /home/david/.local/share/caddy/192.168.178.140.pem /home/david/.local/share/caddy/192.168.178.140-key.pem
}
